<div style="margin-bottom: 10px; display: flex; justify-content: space-evenly; align-items: center; height: 50px; width: 100%;background-color: cornflowerblue;">
    <P style="font-weight: 600; color: WHITE; margin-left: 20px;">GATITOS</P>
    <div style="position: relative;">
        <form >
            <input type="text" (input)="manejarCambio($event)" placeholder="Buscar raza" style="height: 30px; width: 200px; border-radius: 5px; border: none; margin-right: 20px;">
        </form>
        <div style="z-index: 100;background-color: white;position: absolute; top: 30px;">
            @for (resultado of this.resultados; track $index) {
                <p (click)="this.seleccionRaza(resultado)" style=" height: 25px; width: 190px; cursor: pointer; margin-left: 10px;">{{resultado}}</p>
            }
        </div>
    </div>
</div>